/* your beautiful css styling goes here! */
.container {
  margin: 0 auto;
  display: table;
}

.scoreboard {
  background-color: lightgrey;
  border:1px solid black;
  padding: 5px;
}
.board {
  /*background-color: darkgrey;*/
  border: 1px solid black;
  /*width: auto;*/
  height: 450px;
}
.enemy {
  fill: black;
  background: url(green_ghost.svg);
}
.player {
  fill: red;
}
.player:hover{
  cursor: pointer;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

