/* your beautiful css styling goes here! */
.container {
  margin: 0 auto;
  display: table;
}

.scoreboard {
  background-color: lightgrey;
  border:1px solid black;
  padding: 5px;
}
.board {
  /*background-color: darkgrey;*/
  border: 1px solid black;
}

.enemy {
  fill: black;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

